
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vietnam</h1>
</div>

<p class="text-center">
    <a asp-controller="Vietnam" asp-action="Cities">All Cities</a>
</p>