
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Aptech</h1>
</div>

<p class="text-center">
    <a asp-controller="Aptech" asp-action="Student">All Students</a>
</p>