@model Student
@{
    ViewData["Title"] = Model.Name;
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Score</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Score</td>
    </tr>
</table>

